{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_main %}

    {% if page.header.navigation.active.customFields.custom_category_top_banner_media %}{    
    
        <div class="container">
            {% sw_include '@Storefront/storefront/layout/top-banner.html.twig' %}
         </div>    
     
    {% endif %}

    <main class="content-main">
        {% block base_flashbags %}
            <div class="flashbags container">
                {% for type, messages in app.flashes %}
                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with { type: type, list: messages } %}
                {% endfor %}
            </div>
        {% endblock %}

        {% block base_main_inner %}
            <div class="container">
                {% block base_main_container %}
                    <div class="container-main">
                        {% block base_breadcrumb %}
                            {% if breadcrumbList %}
                                {% sw_include '@Storefront/storefront/layout/breadcrumb.html.twig' %}
                            {% endif %}
                        {% endblock %}

                        {% block base_content %}{% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </main>
{% endblock %}