{% set bannerHeight =  page.header.navigation.active.customFields.custom_category_top_banner_height %}
{% set topBannerBackgroundID = page.header.navigation.active.customFields.custom_category_top_banner_media %}
{% set mediaCollection = searchMedia([topBannerBackgroundID], context.context) %}
{% set topBannerMedia = mediaCollection.get(topBannerBackgroundID) %}

<div class="top-banner" style="height: {{ "#{bannerHeight}px" }}; background-image: url({{ "#{topBannerMedia.url}" }});">

    <div class="top-banner-content">
        <div class="top-banner-title">{{ page.header.navigation.active.customFields.custom_category_top_banner_title |trans |raw}}</div>    
        <div class="top-banner-text">{{ page.header.navigation.active.customFields.custom_category_top_banner_text |trans |raw}}</div>      
    </div>
</div>








