.top-banner{
    width: auto;
    height: 150px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.top-banner-content{
    width: 100%;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    color: white;
}

.top-banner-title{
    font-weight: bold;
    font-size: 15px;
}
